@use 'variables';

@mixin button {
	font-family: 'Quicksand', sans-serif;
  padding: 1rem 2rem;
  border-radius: 7px;
	font-size: .875rem;
	font-weight: 500;
	cursor: pointer;
}

@mixin primary-button {
  @include button;
  background-color: variables.$primary-button-blue;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.169);
  color: white;
  border: none;
	transition: all 300ms ease;

  &:hover, &:focus {
		background-color: darken($color: #2A68BA, $amount: 8%);
	}
}

@mixin primary-button-disabled {
  @include primary-button;
  opacity: 50%;
}

@mixin outline-primary-button {
  @include button;
  background: none;
  border: 1px solid variables.$primary-blue;
  color: variables.$primary-blue;
  transition: all 200ms ease;

  &:hover {
    background-color: variables.$primary-blue-hover-bg;
    border: 1px solid variables.$primary-blue-hover-text;
    color: variables.$primary-blue-hover-text;
  }

  &:active {
    background-color: darken(variables.$primary-blue-hover-bg, 40%);
    color: darken(variables.$primary-blue-hover-text, 40%);
  }
}

@mixin outline-danger-button {
  @include outline-primary-button;
  border: 1px solid red;
  color: red;
}

@mixin modal-header {
  color: variables.$primary-blue;
  border-bottom: 1px solid variables.$primary-blue;
}

@mixin modal-container {
  background: hsla(0, 0%, 95%, 1);
  border-radius: 14px;
  padding: 2rem;
  width: 500px;
  min-height: 500px;
  background-color: white;
}

@mixin input-label-font {
  font-size: .875rem;
	color: #757575;
}

@mixin input {
  color: #0E0E0E;
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid variables.$primary-blue;
  transition: all 200ms ease;
  border-radius: 3px 3px 0 0;
  padding-left: .25rem;
    &:focus {
      background-color: rgba(213, 223, 248, .3);
      outline: none;
      border-bottom: 1px solid #668EC2;
      color: variables.$primary-blue;
    }

    &::placeholder {
      color: rgb(156, 156, 156);
    }

}

@mixin label-input-group {
  position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem .5rem;
}