@use 'variables';

@mixin button {
	font-family: 'Quicksand', sans-serif;
  padding: 1rem 2rem;
  border-radius: 7px;
	font-size: .875rem;
	font-weight: 500;
	cursor: pointer;
}

@mixin primary-button {
  @include button;
  background-color: variables.$primary-blue;
  color: white;
  border: none;
}

@mixin primary-button-disabled {
  @include primary-button;
  opacity: 50%;
}

@mixin outline-primary-button {
  @include button;
  background: none;
  border: 1px solid variables.$primary-blue;
  color: variables.$primary-blue;
  transition: all 200ms ease;

  &:hover {
    background-color: variables.$primary-blue-hover-bg;
    border: 1px solid variables.$primary-blue-hover-text;
    color: variables.$primary-blue-hover-text;
  }

  &:active {
    background-color: darken(variables.$primary-blue-hover-bg, 40%);
    color: darken(variables.$primary-blue-hover-text, 40%);
  }
}

@mixin outline-danger-button {
  @include outline-primary-button;
  border: 1px solid red;
  color: red;
}

@mixin modal-header {
  color: variables.$primary-blue;
  border-bottom: 1px solid variables.$primary-blue;
}

@mixin modal-container {
  background: hsla(0, 0%, 95%, 1);
  border-radius: 14px;
  padding: 2rem;
  width: 500px;
  min-height: 500px;
  background-color: white;
}