@use 'variables';

@mixin button {
	font-family: 'Quicksand', sans-serif;
  padding: 1rem 2rem;
  border-radius: 7px;
	font-size: .875rem;
	font-weight: 500;
	cursor: pointer;
}

@mixin primary-button {
  @include button;
  background-color: variables.$primary-button-blue;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.169);
  color: white;
  border: none;
	transition: all 300ms ease;

  &:hover, &:active, &:focus {
		background-color: darken($color: #2A68BA, $amount: 8%);
    box-shadow: 0px 4px 16px rgba(21, 64, 216, 0.463);
	}
  &:focus {
    outline: 1px solid #0e2a4f;
  }
}

@mixin primary-button-disabled {
  @include primary-button;
  opacity: 50%;
}

@mixin outline-primary-button {
  @include button;
  background: none;
  border: 1px solid variables.$primary-blue;
  color: variables.$primary-blue;
  transition: all 200ms ease;

  &:hover {
    background-color: variables.$primary-blue-hover-bg;
    border: 1px solid variables.$primary-blue-hover-text;
    color: variables.$primary-blue-hover-text;
  }

  &:active {
    background-color: darken(variables.$primary-blue-hover-bg, 40%);
    color: darken(variables.$primary-blue-hover-text, 40%);
  }
}

@mixin outline-danger-button {
  @include button;
  background-color: transparent;
  border: 1px solid #DA2F58;
  color: #DA2F58;
  transition: all 300ms ease;
  box-shadow: 0px 0px 4px rgba(114, 53, 53, 0.169);

  &:active, &:hover, &:focus {
    box-shadow: 0px 4px 12px rgba(182, 74, 74, 0.468);
    border: 1px solid #ff3e6b;
    color: #ff3e6b;
  }

  &:focus {
    outline: 1px solid #ff3e6b;
  }
}

@mixin modal-header {
  color: variables.$primary-blue;
  border-bottom: 1px solid variables.$primary-blue;
}

@mixin modal-container {
  background: hsla(0, 0%, 95%, 1);
  border-radius: 14px;
  padding: 2rem;
  width: 500px;
  min-height: 500px;
  background-color: white;
}

@mixin input-label-font {
  font-size: .875rem;
	color: #757575;
}

@mixin input {
  color: #0E0E0E;
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid variables.$primary-blue;
  transition: all 200ms ease;
  border-radius: 3px 3px 0 0;
  padding-left: .25rem;
    &:focus {
      background-color: rgba(213, 223, 248, .3);
      outline: none;
      border-bottom: 1px solid #668EC2;
      color: variables.$primary-blue;
    }

    &::placeholder {
      color: rgb(156, 156, 156);
    }

}

@mixin label-input-group {
  position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem .5rem;
}

// custom scrollbar 
@mixin scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(206, 206, 206);

    &:hover {
    background-color: hsl(0, 0%, 76%);
    }
}

@mixin scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
  border-radius: 15px;
  background-color: rgb(241, 241, 241);
}

@mixin scrollbar {
  width: 8px;
  background-color: rgb(236 236 236);
}