$primary-blue: #1b4276;
$secondary-blue: #2e486b;
$background-color: #f7f7f7;
$divider-color: #0000000a;
$danger-red: #DA2F58;
$danger-red-hover: #ff3e6b;

$primary-button-blue: #2A68BA;

$primary-blue-hover-text: #1056B1;
$primary-blue-hover-bg:  rgba(165, 204, 251, 0.08);