@use 'variables';
@use 'mixins';

.modalContainer {
  position: relative;
  @include mixins.modal-container;
  min-height: 300px;
}

.deleteModalMessage {
  font-size: 1.25rem;
  text-align: center;
}

.buttonGroup {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.dangerBtn {
  @include mixins.outline-danger-button;
}

.approveBtn {
  @include mixins.primary-button;
}

.container {
  min-height: 13rem;
  padding-bottom: 5rem;

  @media (max-width: 1200px) {
    padding-bottom: 1.5rem;
    min-height: 9rem;
  }
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;

  @media (max-width: 1620px) {
    padding-top: 2rem;
  }

  
}

.selectInput {
  // min-width: 10rem;
  border: 2px solid variables.$primary-blue;
  border-radius: 7px;
  padding: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: variables.$primary-blue;
  transition: border 200ms ease;
  text-transform: capitalize;

  
  &:hover {
    border: 2px solid hsl(214, 55%, 50%);

  }

  &:focus {
    outline: 1px solid hsl(214, 55%, 50%);
    border: 2px solid hsl(214, 55%, 50%);
  }

  @media (max-width: 1200px) {
    border-width: 1px;
    font-size: .875rem;
    padding: .5rem;
    margin-right: .25rem;
  }
}

.menuContainer {
  position: relative;
}

.svgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  transition: background-color 300ms ease;

  &:hover {
  background-color: rgba(208, 208, 208, 0.178);
  }

  & svg {
    height: 24px;
  }

  @media (max-width:1200px) {
    width: 24px;
    height: 24px;
  }
}

.dropdownContainer {
  background-color: white;
  position: absolute;
  left: 5px;
  top: 50px;
  width: 175px;
  padding: 10px 0 10px 0;
  border-radius: 7px;
  box-shadow: 0px 0px 18px rgba(125, 125, 125, 0.22);
  transition: all 200ms ease;

  @media (max-width: 900px) {
    width: max-content;
    padding: .5rem .5rem;
    left: -.5rem;
    top: 2rem;
  }

  @media (max-width: 490px) {
    left: -6rem;
    border-radius: 5px;
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px) scale(.9);
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(5px) scale(1);
  }

  &::before {
    content: '';
    background-color: white;
    position: absolute;
    width:10px;
    height: 10px;
    rotate: 45deg;
    top: -5px;
    left: 15px;

    @media (max-width: 490px) {
      left: 6.5rem;
    }
  }
}

.dropdownButton {
  background-color: transparent;
  display: block;
  outline: none;
  border: none;
  font-size: 1rem;
  width: 100%;
  padding: 5px 0 5px 15px;
  text-align: start;
  transition: background-color 400ms ease;

  &:hover {
    background-color: rgb(244, 244, 244);
  }

  @media (max-width: 1200px) {
    font-size: .875rem;
  }
}

.description {
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
  max-width: 75%;
  font-style: italic;

  @media (max-width: 1200px) {
    padding-top: .5rem;
    max-width: 100%;
    font-size: .75rem;
  }
}

// Edit Project Name and Description 
// .editProjectForm {
  
// }
.inputGroup {
  display: flex;
}

.textfieldLabel {
  @include mixins.input-label-font;
  display: block;
  padding-top: 1rem;

  &:first-child {
    padding: 0;
  }
}

.textfieldError {
  @include mixins.textfieldError;
}

.inputLabelFlexGroup {
  @include mixins.inputErrorFlexGroup;
}

.searchInput {
  width: 100%;
  font-size: 1rem;
  color: variables.$primary-blue;
  padding: 1rem 0 1rem .5rem;
  border-radius: .5rem;
  border: 2px solid variables.$primary-blue;

  &:active, &:focus {
    border: 2px solid variables.$primary-blue-hover-text;
    outline: none;
    color: variables.$primary-blue-hover-text;

    &::placeholder {
      color: variables.$primary-blue-hover-text;
    }
  }

  &::placeholder {
    color: variables.$primary-blue;
  }
}

.descriptionInput {
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  margin: 0;
}

.formButtonGroup {
  @include mixins.formButtonGroup;
  padding-top: 1rem;
}

.dangerBtn {
  @include mixins.cancelChangesButton;
}

.approveBtn {
  @include mixins.saveChangesButton;
}
