@use 'variables';

.container {
  margin-bottom: 5rem;
  text-align: center;
}

.header {
  padding: 2rem 0 1rem 0;
  font-size: .875rem;
  font-weight: 600;
  color: variables.$primary-blue;
}

.selectInput {
  border: 2px solid variables.$primary-blue;
  border-radius: 14px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: variables.$primary-blue;
  transition: border 200ms ease;

  
  &:hover {
    border: 2px solid hsl(214, 55%, 50%);

  }

  &:focus {
    outline: 1px solid hsl(214, 55%, 50%);
    border: 2px solid hsl(214, 55%, 50%);
  }
}