@use 'variables';
@use 'mixins';

.container {
  @include mixins.modal-container;
}

.header {
  @include mixins.modal-header;
}

.searchInput {
  font-weight: 500;
  width: 90%;
  font-size: 1rem;
  color: variables.$primary-blue;
  padding: 1rem 0 1rem .5rem;
  margin: 1rem 0 1.5rem 0;
  border-radius: .5rem;
  border: 2px solid variables.$primary-blue;

  &:active, &:focus {
    border: 2px solid variables.$primary-blue-hover-text;
    outline: none;
    color: variables.$primary-blue-hover-text;

    &::placeholder {
      color: variables.$primary-blue-hover-text;
    }
  }

  &::placeholder {
    color: variables.$primary-blue;
  }
}

.nameInput {
  width: 100%;
}

.descriptionInput {
  width: 100%;
  max-width: 100%;
  max-height: 400px;
}

.projectList {
  color: variables.$secondary-blue;
  height: 400px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.buttonGroup {
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 .5rem;
}

.dangerBtn {
  @include mixins.outline-danger-button;
}

.approveBtn {
  @include mixins.primary-button;
}