@use 'variables';
@use 'mixins';

.container {
  background-color: #FBFBFB;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .875rem;
  color: variables.$primary-blue;
}

.checkbox {
  margin-right: .5rem;
}

.name {
  text-transform: capitalize;
  text-align: start;
  font-size: inherit;
  width: 33%;
}

.percentage {
  text-align: end;
  width: 33%;
}

.cost {
  text-align: end;
  width: 33%;
  font-size: inherit;
}

// Edit and Delete Buttons
.iconEditButton {
  @include mixins.iconButton;
  margin-left: 2rem;

  &:focus {
    outline: 2px solid variables.$primary-button-blue;
    outline-offset: 2px;
  }

  &:hover, &:focus {
    .editIcon {
      color: variables.$primary-button-blue;
    }
  }
}

.iconDeleteButton {
  @include mixins.iconButton;
  margin-left: .5rem;

  &:focus {
    outline: 2px solid variables.$danger-red-hover;
    outline-offset: 2px;
  }

  &:hover, &:focus {
    .deleteIcon {
      color: variables.$danger-red-hover;
    }
  }
}

.editIcon {
  @include mixins.editIcon;
}

.deleteIcon {
  @include mixins.dangerIcon;
}