@use 'variables';

.categoryContainer {
  border-bottom: 1px solid rgba(13, 55, 105, 0.247);
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}

.category {
  text-align: start;
  color: variables.$primary-blue;
  font-weight: 600;
}

.categoryDescription {
  padding-top: .2rem;
  font-weight: 400;
  font-size: .875rem;
  color: variables.$secondary-blue
}

.list {
  padding-right: .5rem;
  overflow-y: auto;
}
