@use 'variables';
@use 'mixins';

.modalContainer {
  position: relative;
  @include mixins.modal-container;
  min-width: 38rem;
}

.header {
  @include mixins.modal-header;
}

.container {
  width: 430px;
}

.categoryContainer {
  border-bottom: 1px solid rgba(13, 55, 105, 0.247);
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
}

.category {
  text-align: start;
  color: variables.$primary-blue;
  font-weight: 600;
}

.categoryDescription {
  padding-top: .2rem;
  font-weight: 400;
  font-size: .875rem;
  color: variables.$secondary-blue
}

.list {
  max-height: 30rem;
  padding-right: .5rem;
  overflow-y: auto;
}

.btngroup {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.expenseInputContainer {
  display: flex;
  position: relative;

  & input {
    width: 100%;
  }
}