@use 'variables';
@use 'mixins';

.modalContainer {
  position: relative;
  @include mixins.modal-container;
  min-width: 45rem;
  height: 650px;
}

.addExpenseForm {
  max-height: 65%;
  overflow-y: auto;
  padding-right: .5rem;
  margin: 1rem 0;

  // scrollbar custom
  &::-webkit-scrollbar-thumb
    {
      @include mixins.scrollbar-thumb;
    }
    
    &::-webkit-scrollbar-track
    {
      @include mixins.scrollbar-track;
    }
    
    &::-webkit-scrollbar
    {
      @include mixins.scrollbar;
    }
}

.header {
  @include mixins.modal-header;
}



.container {
  display: block;
  width: 600px;

  @media (max-width: 1920px) {
    width: 450px;
  }

  @media (max-width: 1620px) {
    width: 375px;
  }

  @media (max-width: 1200px) {
    width: 500px;
  }
}

.active {
  display: block;
}

.inactive {
  display: block;
  
  // media query disregards active tab styling to show all tabs above 1200px breakpoint
  @media (max-width: 1200px) {
    display: none;
  }
}

.addButton {
  @include mixins.primary-button;
  padding: .75rem 1.5rem;
}

.categoryContainer {
  border-bottom: 1px solid rgba(13, 55, 105, 0.247);
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 1620px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.category {
  text-align: start;
  color: variables.$primary-blue;
  font-weight: 600;
}

.categoryDescription {
  padding-top: .2rem;
  font-weight: 400;
  font-size: .875rem;
  color: variables.$secondary-blue;

  @media (max-width: 1620px) {
    padding-bottom: .5rem;
  }
}

.list {
  height: 30rem;
  padding-right: .5rem;
  overflow-y: auto;

    &::-webkit-scrollbar-thumb
    {
      @include mixins.scrollbar-thumb;
    }
    
    &::-webkit-scrollbar-track
    {
      @include mixins.scrollbar-track;
    }
    
    &::-webkit-scrollbar
    {
      @include mixins.scrollbar;
    }
}


.btngroup {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.addExpenseBtn {
  @include mixins.primary-button;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;

  & svg {
    margin-right: .5rem;
  }
}

.addIcon {
  width: 1.25rem;
}

.dangerBtn {
  @include mixins.outline-danger-button;
}

.approveBtn {
  @include mixins.primary-button;
}

.expenseInputContainer {
  display: flex;
  align-items: center;
  position: relative;

  & input {
    width: 100%;
  }
}

.inputLabel {
  @include mixins.input-label-font;
}

.input {
  @include mixins.input;
  margin-top: .25rem;
}

.labelInputGroup {
  @include mixins.label-input-group;
}

.expenseTotalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconDeleteButton {
  @include mixins.iconButton;
  margin-left: .5rem;

  &:focus {
    outline: 2px solid variables.$danger-red-hover;
    outline-offset: 2px;
  }

  &:hover, &:focus {
    .deleteIcon {
      color: variables.$danger-red-hover;
    }
  }
}

.deleteIcon {
  @include mixins.dangerIcon;
  width: 1.25rem;
}