@use 'variables';
@use 'mixins';

.modalContainer {
  position: relative;
  @include mixins.modal-container;
  min-width: 38rem;
}

.header {
  @include mixins.modal-header;
}

.container {
  width: 600px;
}

.addButton {
  @include mixins.primary-button;
  padding: .75rem 1.5rem;
}

.categoryContainer {
  border-bottom: 1px solid rgba(13, 55, 105, 0.247);
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.category {
  text-align: start;
  color: variables.$primary-blue;
  font-weight: 600;
}

.categoryDescription {
  padding-top: .2rem;
  font-weight: 400;
  font-size: .875rem;
  color: variables.$secondary-blue
}

.list {
  max-height: 30rem;
  padding-right: .5rem;
  overflow-y: auto;

    &::-webkit-scrollbar-thumb
    {
      @include mixins.scrollbar-thumb;
    }
    
    &::-webkit-scrollbar-track
    {
      @include mixins.scrollbar-track;
    }
    
    &::-webkit-scrollbar
    {
      @include mixins.scrollbar;
    }
}


.btngroup {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.expenseInputContainer {
  display: flex;
  align-items: center;
  position: relative;

  & input {
    width: 100%;
  }
}

.inputLabel {
  @include mixins.input-label-font;
}

.input {
  @include mixins.input;
}

.labelInputGroup {
  @include mixins.label-input-group;
}