@use 'variables';

.flexContainer {
  display: flex;
  justify-content: space-around;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.tabGroup {
  display: none;

  @media (max-width: 1200px) {
    display: block;
  }
}

.tabLabel {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.labelContainer {
  display: flex;
  justify-content: center;
  
  & p {
    font-size: 1rem;
    padding: 0 1rem .5rem 1rem;
    cursor: pointer;
  }

}

.activeTabLabel {
  color: variables.$primary-button-blue;
  font-weight: 600;
  border-bottom: 2px solid variables.$primary-button-blue;
  transition: color 300ms ease;
}

.inactiveTabLabel {
  color: variables.$border-bottom-grey;
  transition: color 300ms ease;

}