@use 'variables';
@use 'mixins';

.container {
  padding: 1rem;
  color: variables.$primary-blue;
  border-bottom: 1px solid variables.$primary-blue;
  font-size: .875rem;
}

.listItem {
  font-weight: 600;
  text-transform: capitalize;
}

.name {
  text-transform: capitalize;
  font-size: 1rem;
  color: variables.$primary-blue;
  text-align: center;
  padding-bottom: .5rem;
}

.flexContainer {
  font-size: .875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.species {
  text-transform: capitalize;
  font-weight: 600;
}

.boardFeet {
  font-weight: 600;
}

.cost {
  font-weight: 600;
}

// Edit and Delete Icons/Buttons

.buttonGroup {
  @include mixins.editDeleteButtonGroup;
}

.iconEditButton {
  @include mixins.iconButton;

  &:focus {
    outline: 2px solid variables.$primary-button-blue;
    outline-offset: 2px;
  }

  &:hover, &:focus {
    .editIcon {
      color: variables.$primary-button-blue;
    }
  }
}

.iconDeleteButton {
  @include mixins.iconButton;
  margin-left: .5rem;

  &:focus {
    outline: 2px solid variables.$danger-red-hover;
    outline-offset: 2px;
  }

  &:hover, &:focus {
    .deleteIcon {
      color: variables.$danger-red-hover;
    }
  }
}

.editIcon {
  @include mixins.editIcon;
  width: 1.5rem;
}

.deleteIcon {
  @include mixins.dangerIcon;
  width: 1.25rem;
}