@use 'variables';
@use 'mixins';

.dashboard {
  display: flex;
}

.calculatorContainer {
  max-width: 500px;
	width: 35%;
}

.projectContainer {
  width: 100%;
  text-align: center;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 3.5rem;

  & h1 {
    flex-grow: 1;
    font-size: 2rem;
    font-weight: 600;
    color: variables.$primary-blue;
  }
}

.loginButton {
  @include mixins.outline-primary-button;
}