@use 'variables';

.container {
  padding: 1rem;
  color: variables.$primary-blue;
  border-bottom: 1px solid variables.$primary-blue;
}

.name {
  font-size: 1rem;
  color: variables.$primary-blue;
  text-align: center;
  padding-bottom: .5rem;
}

.flexContainer {
  font-size: .875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.species {
  font-weight: 600;
}

.boardFeet {
  font-weight: 600;
}

.cost {
  font-weight: 600;
}