@use 'variables';
@use 'mixins';

.projectListItem {
  cursor: pointer;
  background: rgb(237 237 237);
  margin-bottom: .5rem;
  margin-right: .5rem;
  padding: .5rem;
  border-radius: 7px;
}

.projectName {
  padding-bottom: .4rem;
  font-weight: 600;
  font-size: .875rem;
  text-transform: capitalize;
}

.projectSpecies {
  padding-bottom: .25rem;
  font-size: .75rem;
  text-transform: capitalize;
}

.projectCost {
  font-size: .75rem;
}