@use 'variables';

.header {
  color: variables.$primary-blue;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 2rem 3rem;
  border: 2px solid #DAD9F4;
  border-radius: 1.5rem;
}

.flexGroup {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(27, 66, 118, .2);
}

.flexGroup:last-of-type {
  border-bottom: none;
}

.category {
  font-size: 1.25rem;
  color: variables.$primary-blue;

}

.amount {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1574EF;
}

.total {
  font-size: 1.5rem;
  font-weight: 600;
  color: variables.$primary-blue;
}