@use 'variables';

.signin {
  height: 100vh;
  background: rgb(250,250,250);
  background: radial-gradient(circle, rgb(255, 255, 255) 16%, rgba(245,245,245,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 2rem 3rem;
  border-radius: 15px;
  box-shadow: 5px 5px 25px rgba(128, 128, 128, 0.243);

  @media (max-width: 540px) {
    padding: 1.5rem 2rem;
    min-width: 0;
    min-height: 0;
  }
}

.header {
  font-size: 2rem;
  padding-bottom: .75rem;
  color: #222222;
}

.subheader {
  color: rgb(85, 85, 85);
}

.providerList {
  width: 100%;
  padding: 2rem 0;
}

.providerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  background-color: transparent;
  color: rgb(101, 102, 146);
  border: 1px solid rgb(101, 102, 146);
  margin-bottom: 1rem;
  border-radius: 5px;
  transition: all 300ms ease ;

  img {
    width: 1.5rem;
    height: auto;
  }

  &:hover {
    color: rgb(8, 18, 213);
    border-color: rgb(44, 44, 198);
  }
}