@use 'mixins';
@use 'variables';

.header {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: .75rem;
  color: #222222;
}

.subheader {
  color: rgb(85, 85, 85);
}

.providerList {
  padding: 2rem 0;
}

.providerButton {
  @include mixins.providerButton;
}

.providerListBorder {
  font-size: .875rem;
  font-weight: 500;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  color: #838383;
  padding: .875rem 0;

  &::before,&::after {
    content: "";
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 50%;
    height: 1px;
    background-color: #20202039;
  }

  &::before {
    margin-left: -50%;
    right: .375rem;
  }

  &::after {
    margin-right: -50%;
    left: .375rem;
  }
}